<div class="row">
  <form action="/records/{{record._id}}/edit" method="POST">
    <input type="text" placeholder="name" name="name" value="{{record.name}}" />
    <input
      type="number"
      placeholder="amount"
      name="amount"
      value="{{record.amount}}"
      max="1000"
      min="0"
    />
    <input type="date" name="Date" id="Date" value="{{record.Date}}" />
    <button type="submit">儲存</button>
    <a href="/">返回</a>
  </form>
</div>