<form action="/records" method="POST">
  <input type="text" placeholder="name" name="name" />
  <input
    type="number"
    placeholder="amount"
    name="amount"
    value="1"
    max="1000"
    min="0"
  />
  <input type="date" name="Date" id="Date" />
  <button type="submit">新增支出</button>
</form>